PORT=3000
NODE_ENV=developer
API_URL=http://localhost:
API_HOST=localhost

DB_HOST=mongodb+srv://db_user_manager:IkMvNHTCwoUEPESb@manager.6or1b.mongodb.net/restserver_db
DB_NAME=restserver_db
DB_USER=db_user_manager
DB_PASSWORD=IkMvNHTCwoUEPESb

API_KEY=031a7a0f48379aa05d52821255e7490b14e36248853ea9f1e0b47ba17649c94f
API_KEY_CLOUDINARY=248432817464552
API_PASSWORD_CLOUDINARY=CfrbY9fvEvThCHW5qbQa9gt2ic8
CLOUDINARY_URL=cloudinary://248432817464552:CfrbY9fvEvThCHW5qbQa9gt2ic8@ddao1t4ac